<header id="header">
  <a href="{{ .Site.BaseURL }}">
    <div id="logo" style="background-image: url(https://i.imgur.com/6p2vUpO.png)"></div>

  <div id="title">
    <h1 class="custom-font">{{ .Site.Title }}</h1>
  </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</header>

