{{ $sections := .Sections.ByPublishDate.Reverse }}
{{ $singles := .RegularPages.ByPublishDate.Reverse }}

{{ if ne ($sections | len) 0 }}
  {{ range $sections }}
    <div style="margin-bottom: 0px; display: flex; align-items: center;">
      {{ if eq .Section "musings" }}
        <small style="width: 90px; margin-right: 0px; text-align: left;">{{ .Date.Format "January 2, 2006" }}</small>
      {{ else }}
        <span></span>
      {{ end }}
      <a href="{{ .Permalink }}" class="postlink">{{ .Title }}</a>
    </div>
  {{ end }}
{{ end }}

{{ if ne ($singles | len) 0 }}
  {{ range $singles }}
    <div style="margin-bottom: 0px; display: flex; align-items: center;">
      {{ if eq .Section "musings" }}
        <small style="width: 90px; margin-right: 0px; text-align: left;">{{ .Date.Format "January 2, 2006" }}</small>
      {{ else }}
        <span></span>
      {{ end }}
      <a href="{{ .Permalink }}" class="postlink">{{ .Title }}</a>
    </div>
  {{ end }}
{{ end }}

