{{ $sections := .Sections.ByPublishDate.Reverse }}
{{ $singles := .RegularPages.ByPublishDate.Reverse }}

{{ if ne ($sections | len) 0 }}
<ul>
  {{ range $sections }}
  <li>
    <a href="{{ .Permalink }}" style="text-decoration: underline; text-wrap: wrap;">{{ .Title }}</a><br>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ if ne ($singles | len) 0 }}
<ul>
  {{ range $singles }}
  <li>
    <a href="{{ .Permalink }}" style="text-decoration: underline; text-wrap: wrap;">{{ .Title }}</a><br>
  </li>
  {{ end }}
</ul>

{{ end }}