<style>

	.hermit-container{
		--hermit-t: 100px;
		--hermit-r: 50px;
		--hermit-b: 100px;
		--hermit-l: 50px;
		--hermit-crest-h: 100px;
		--hermit-crest-w: 300px;
		--hermit-footer-h: 100px;
		--hermit-footer-w: 400px;

		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		box-sizing: border-box;
		display: block;
		position: relative;
		padding: var(--hermit-t) var(--hermit-r) var(--hermit-b) var(--hermit-l);

	}
		.hermit-content{
			position: relative;
			z-index: 2;
			padding: 5px 10px 20px;
		}
		.hermit-background{
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
		}
			.hermit-bg-top{
				position: relative;
				display: flex;
				width: 100%;
				height: var(--hermit-t);
			}
			.hermit-bg-middle{
				display: flex;
				width: 100%;
				/*top + bottom in a variable*/
				height: calc(100% - (var(--hermit-t) - var(--hermit-b)));
			}
			.hermit-bg-bottom{
				position: relative;
				display: flex;
				width: 100%;
				height: var(--hermit-b);
			}

			.hermit-el{
				background-image: URL("diamond.png");
				background-size: 100% 100%;
				box-sizing: border-box;
			}


			/* top */
			.hermit-bg-t-l-corner{
				flex-basis: var(--hermit-l);
				flex-shrink: 1;
				flex-grow: 1;
				width: var(--hermit-l);
				height: var(--hermit-t);
				background-image: URL("vine-corner.png");
			}
			.hermit-bg-t-l{
				/*width: calc((100% - (var(--hermit-l) - var(--hermit-r))) / 2);*/
				width: calc((100% - ((var(--hermit-l) - var(--hermit-r))) - var(--hermit-crest-w)) / 2);
				background: none;
				flex-grow: 10;
				flex-shrink: 10;

				border-image-slice: 100% 0 0 0;
				border-image-width: var(--hermit-t) 0 0 0 ;
				border-image-outset: 0 0 0 0;
				border-image-repeat: round stretch;
				border-image-source: url("wave.png");
				border-style: solid;

				transform: scaleX(-1);
			}
			.hermit-bg-t-c{
				height: var(--hermit-crest-h);
				width: var(--hermit-crest-w);
				background-image: url("leviathan.png");
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: var(--herit-crest-w);
			}
			.hermit-bg-t-r{
				/*width: calc((100% - (var(--hermit-l) - var(--hermit-r))) / 2);*/
				width: calc((100% - ((var(--hermit-l) - var(--hermit-r))) - var(--hermit-crest-w)) / 2);
				background: none;
				flex-grow: 10;
				flex-shrink: 10;

				border-image-slice: 100% 0 0 0;
				border-image-width: var(--hermit-t) 0 0 0 ;
				border-image-outset: 0 0 0 0;
				border-image-repeat: round stretch;
				border-image-source: url("wave.png");
				border-style: solid;
			}
			.hermit-bg-t-r-corner{
				flex-basis: var(--hermit-r);
				flex-shrink: 1;
				flex-grow: 1;
				width: var(--hermit-r);
				height: var(--hermit-t);
				background-image: URL("vine-corner.png");
				transform: scaleX(-1);
			}
			/* center */
			.hermit-bg-m-l{
				flex-shrink: 1;
				flex-grow: 1;
				flex-basis: var(--hermit-l);
				width: var(--hermit-l);
				height: 100%;
				background: none;

				border-image-slice: 0 0 0 100%;
				border-image-width: 0 0 0 var(--hermit-l);
				border-image-outset: 0 0 0 0;
				border-image-repeat: stretch round;
				border-image-source: url("vines.png");
				border-style: solid;
			}
			.hermit-bg-m-c{
				flex-shrink: 5;
				flex-grow: 5;
				width: calc(100% - (var(--hermit-l) + var(--hermit-r)));
				height: 100%;
				background: none;
			}
			.hermit-bg-m-r{
				flex-shrink: 1;
				flex-grow: 1;
				flex-basis: var(--hermit-r);
				width: var(--hermit-r);
				height: 100%;
				background: none;

				border-image-slice: 0 100% 0 0;
				border-image-width: 0 var(--hermit-r) 0 0 ;
				border-image-outset: 0 0 0 0;
				border-image-repeat: stretch round;
				border-image-source: url("vines.png");
				border-style: solid;
			}
			/* bottom */
			.hermit-bg-b-l-corner{
				width: var(--hermit-l);
				height: var(--hermit-b);
				flex-basis: var(--hermit-l);
				flex-shrink: 1;
				flex-grow: 1;
			}
			.hermit-bg-b-l{
				flex-shrink: 10;
				flex-basis: 10;
				width: calc((100% - ((var(--hermit-l) - var(--hermit-r))) - var(--hermit-footer-w)) / 2);
				background: none;

				border-image-slice: 100% 0 0 0;
				border-image-width: var(--hermit-t) 0 0 0 ;
				border-image-outset: 0 0 0 0;
				border-image-repeat: round stretch;
				border-image-source: url("diamond.png");
				border-style: solid;
			}
			.hermit-bg-b-c{
				height: var(--hermit-footer-h);
				width: var(--hermit-footer-w);
				flex-shrink: 1;
				flex-basis: 1;
			}
			.hermit-bg-b-r{
				flex-shrink: 10;
				flex-basis: 10;
				width: calc((100% - ((var(--hermit-l) - var(--hermit-r))) - var(--hermit-footer-w)) / 2);
				background: none;

				border-image-slice: 100% 0 0 0;
				border-image-width: var(--hermit-t) 0 0 0 ;
				border-image-outset: 0 0 0 0;
				border-image-repeat: round stretch;
				border-image-source: url("diamond.png");
				border-style: solid;
			}
			.hermit-bg-b-r-corner{
				width: var(--hermit-r);
				height: var(--hermit-b);
				flex-basis: var(--hermit-r);
				flex-shrink: 1;
				flex-grow: 1;
			}

			@media screen and (max-width: 770px){
				.hermit-container{
					--hermit-t: 66px;
					--hermit-r: 33px;
					--hermit-b: 66px;
					--hermit-l: 33px;
					--hermit-crest-h: 66px;
					--hermit-crest-w: 200px;
					--hermit-footer-h: 66px;
					--hermit-footer-w: 266px;
				}
			}

</style>

<div class="hermit-container">
	<div class="hermit-content">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris massa ligula, faucibus sed augue ac, volutpat dapibus felis. Vivamus quis consequat eros. Sed imperdiet cursus nisl. Etiam fringilla leo nibh, ut convallis mauris auctor sed. Donec porttitor pulvinar dictum. Aliquam volutpat laoreet libero, sed dignissim ligula rhoncus at. Nulla a nisl quis nibh consequat mollis nec et lectus. Maecenas malesuada lacinia tortor, ac hendrerit urna hendrerit id. Praesent quis vehicula orci. Nunc vulputate velit id dictum fermentum. Etiam quis augue fringilla, fringilla eros placerat, consequat ante. Donec vel ex dui. Maecenas eleifend auctor risus sed ultrices. Sed in consequat augue, eget elementum justo.
		</p>
		<p>
			Ut tempus lorem leo, a volutpat lectus viverra sed. Nulla efficitur, nunc vel gravida hendrerit, nibh tortor lacinia enim, fermentum tincidunt ipsum ante sed risus. Vivamus in malesuada turpis, non consequat lectus. Aenean id imperdiet ipsum. Integer fringilla pharetra dolor, vel mattis justo eleifend ac. In quis risus et nisl congue bibendum ac in sapien. Integer non leo semper, rutrum turpis eget, egestas lacus. Sed cursus vel dolor sed malesuada. Donec orci neque, congue eget velit eget, laoreet suscipit dui. Ut porttitor sit amet libero non fringilla. Suspendisse ac massa vel augue gravida dapibus. Phasellus diam nulla, interdum eu ultrices in, pharetra id nisi. Aenean lacinia vestibulum ornare.
		</p>
		<p>
			Sed lacus arcu, rhoncus eget erat at, scelerisque suscipit urna. Curabitur at lectus velit. Ut vitae efficitur ante, at posuere nisi. Etiam et orci turpis. Pellentesque tempus gravida augue non semper. Sed sit amet metus at libero porttitor mattis. Nunc ultrices auctor vestibulum. Vestibulum vel magna sed nisl porttitor mattis eu a nisl. Pellentesque sagittis, tortor ac porta congue, ligula lectus sagittis nisl, et vehicula quam enim et odio. Aliquam pellentesque nulla id feugiat interdum.
		</p>
		<p>
			Ut placerat nulla sit amet ipsum ultricies vestibulum. Suspendisse pharetra, purus vitae rutrum laoreet, diam libero fringilla metus, quis tincidunt tellus orci vitae nunc. Proin rhoncus porttitor fringilla. Vivamus volutpat lorem a quam tristique, et viverra nulla euismod. Morbi tempus molestie sodales. Aliquam lacinia malesuada est, sed dapibus nunc ultricies id. Quisque non lectus quis eros dictum pretium. Proin rutrum orci sit amet blandit faucibus. Donec at mattis nibh. Sed fermentum turpis a enim sagittis hendrerit. Cras tristique ornare lacinia. Etiam ac risus dui. Quisque facilisis fermentum lacus. Pellentesque gravida nulla sit amet lorem posuere faucibus.
		</p>
		<p>
			Sed ultrices, lacus sit amet finibus faucibus, lectus nisl porttitor leo, et imperdiet nibh ante id nisl. Ut hendrerit dapibus sapien, at mattis libero ornare non. Suspendisse potenti. Nam commodo, diam consectetur consectetur pharetra, dolor magna bibendum metus, nec tincidunt sem odio non ipsum. Cras volutpat neque a tellus porttitor luctus. Sed ornare lectus quis rhoncus eleifend. Aenean pharetra, metus ut ullamcorper mattis, erat velit eleifend lacus, eu vehicula justo nunc et dui. Fusce luctus pellentesque purus, quis tempor elit porttitor sed. Sed a enim vel quam rhoncus mattis. Cras a volutpat eros. Ut pulvinar id leo sit amet ornare.
		</p>
	</div>
	<div class="hermit-background">
		<div class="hermit-bg-top">
			<div class="hermit-el hermit-bg-t-l-corner"></div>
			<div class="hermit-el hermit-bg-t-l"></div>
			<div class="hermit-el hermit-bg-t-c"></div>
			<div class="hermit-el hermit-bg-t-r"></div>
			<div class="hermit-el hermit-bg-t-r-corner"></div>
		</div>
		<div class="hermit-bg-middle">
			<div class="hermit-el hermit-bg-m-l"></div>
			<div class="hermit-el hermit-bg-m-c"></div>
			<div class="hermit-el hermit-bg-m-r"></div>
		</div>
		<div class="hermit-bg-bottom">
			<div class="hermit-el hermit-bg-b-l-corner"></div>
			<div class="hermit-el hermit-bg-b-l"></div>
			<div class="hermit-el hermit-bg-b-c"></div>
			<div class="hermit-el hermit-bg-b-r"></div>
			<div class="hermit-el hermit-bg-b-r-corner"></div>
		</div>
	</div>
</div>